<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/parts :: head('Products')">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <header th:replace="fragments/parts :: top"></header>

        <h1>Highlight!</h1>
        <p th:text="${product.name}">Name</p>
        <p th:text="${product.description}">Description</p>
        <p th:text="'$' + ${product.price}">Price</p>
        <p th:text="${sale_status}">On Sale?</p>
        <hr>

        <h1>Products</h1>
        <table th:if="${products.length != 0}">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>On sale?</th>
                    <th>View Product</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}">Name</td>
                    <td th:text="${product.description}">Description</td>
                    <td th:text="${product.price}">Price</td>
                    <td th:text="${product.onSale.toString()}">On sale?</td>
                    <td><a th:href="@{'/products/' + ${product.name}}">view</a></td>
                </tr>
            </tbody>
        </table>
        <p th:if="${products.length == 0}">There are no products available</p>

        <footer th:replace="fragments/parts :: bottom"></footer>
    </body>
</html>